body {
    display: flex;
    flex-direction: column;
    background: lemonchiffon;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
}

.bar {
    display: flex;
    justify-content: center;
}

.glass {
    background: lightslategray;
    border-radius: 20px;
    height: 150px;
    width: 100px;
    margin: 10px;
}

.blink {
    background: yellow;
}